{% extends "auth/auth-form-base.html" %}


{% block title %}Login{% endblock %}


{% block head_inner %}
    <link rel="stylesheet" href="{{ url_for('static',filename='auth/login.css') }}">
    <script src="{{ url_for('static',filename='auth/login.js') }}" defer></script>
{% endblock %}

{% block login_or_signup_title %}Login{% endblock %}



{% block form_content %}
    <form onsubmit="login(); return false;" class="form">
        <div class="flex-column">
            <label>Email/Username</label>
        </div>
        <div class="inputForm">
            <img src="{{ url_for('static', filename='assets/email-icon.svg') }}" alt="email">
            <input id="email-or-username-input" placeholder="Enter your Email or Username" class="input"
                type="text">
        </div>

        <div class="flex-column">
            <label>Password </label>
        </div>
        <div class="inputForm">
            <img src="{{ url_for('static', filename='assets/password-icon.svg') }}" alt="email">
            <input id="password-input" placeholder="Enter your Password" class="input" type="password">
        </div>

        <br>

        <button class="sign" type="submit">Login</button>
    </form>
{% endblock %}



{% block already_login_or_signup_text %} 
    Don't have an account?
    <a rel="noopener noreferrer" href="{{ url_for('auth.page_signup') }}" class="">Sign up</a>
{% endblock %}
