@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');

form * {
    font-family: 'Inter';
}

#content-container {
    margin: 0;
    height: 100%;
}


.form-container-container {
    height: 90%;
    /* overflow: hidden; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* Make the elements stack on top of each other */
    flex-direction: column;
    /* position: relative; */

}

.form-container {
    width: 320px;
    border-radius: 0.75rem;
    background: linear-gradient(135deg, rgba(255, 0, 208, 0.17), rgba(255, 255, 0, 0.17));

    backdrop-filter: blur(10px);

    padding: 2rem;
    color: rgba(243, 244, 246, 1);
}

.title {
    font-size: 2rem;
    font-weight: 700;
    color: rgba(17, 24, 39, 1);
    text-align: center;
    line-height: 2rem;
}

.form {
    margin-top: 1.5rem;
}


.signup a:hover {
    text-decoration: underline rgba(167, 139, 250, 1);
}


.line {
    height: 1px;
    flex: 1 1 0%;
    background-color: rgba(55, 65, 81, 1);
}



.signup {
    text-align: center;
    font-size: 0.9rem;
    line-height: 1rem;
    /* color: rgba(156, 163, 175, 1); */
    color: black;
}

.forgot a, .signup a {
    /* color: rgba(243, 244, 246, 1); */
    color: rgb(100, 100, 100);
    text-decoration: none;
    /* font-size: 14px; */
}






/* Flash */
.error {
    font-family: 'Ubuntu Nerd Font';
    /* Same width as form-container, is  basewidth(320px) + padding(32px each) + padding_of_error(12px) */
    min-width: calc(320px + 32px + 32px - 12px - 12px);
    padding: 12px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    background: #EF665B;
    border-radius: 8px;
    box-shadow: 0px 0px 5px -3px #111;
}

.error__icon {
    width: 20px;
    height: 20px;
    transform: translateY(-2px);
    margin-right: 8px;
}

.error__icon img {
    fill: #fff;
}

.error__title {
    font-weight: 500;
    font-size: 14px;
    color: #fff;
}

.error__close {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: auto;
}

.error__close path {
    fill: #fff;
}





.flex-column {
    margin-top: 1em;
    margin-bottom: 0.4em;
}

.flex-column>label {
    color: #151717;
    font-weight: 200;
}

.inputForm {
    background-color: white;
}

.inputForm {
    border: 1.5px solid #ecedec;
    border-radius: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    transition: 0.2s ease-in-out;
}

.input {
    font-size: 1rem;
    margin-left: 10px;
    /* border-radius: 10px; */
    border: none;
    width: 100%;
    /* height: 100%; */
}

.input:focus {
    outline: none;
}

.inputForm:focus-within {
    border: 1.5px solid #2d79f3;
}





.btn {
    margin-top: 10px;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    gap: 10px;
    border: 1px solid #ededef;
    background-color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.btn:hover {
    border: 1px solid #2d79f3;
}



.sign {
    font-size: 1rem;
    display: block;
    width: 100%;
    height: 45px;
    background-color: rgba(167, 139, 250, 1);
    padding: 0.8rem;
    text-align: center;
    color: rgba(17, 24, 39, 1);
    border: none;
    border-radius: 20px;
    font-weight: 800;
    cursor: pointer;
}


.google-sign {
    font-size: 1rem;
    margin-top: 10px;
    width: 100%;
    height: 45px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid #ededef;
    background-color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    font-weight: 600;
}